{{#isBodyParam}}{{#useBeanValidation}}@Valid{{>beanValidationBodyParams}}{{/useBeanValidation}}{{#vendorExtensions.x-jdempotentrequestpayload}} @JdempotentRequestPayload{{/vendorExtensions.x-jdempotentrequestpayload}} @RequestBody{{^required}}(required = false){{/required}} {{^reactive}}{{>optionalDataType}}{{/reactive}}{{#reactive}}{{^isArray}}Mono<{{{dataType}}}>{{/isArray}}{{#isArray}}Flux<{{{baseType}}}>{{/isArray}}{{/reactive}} {{paramName}}{{/isBodyParam}}