{{#isPathParam}}{{#useBeanValidation}}{{>beanValidationPathParams}}{{/useBeanValidation}}{{#vendorExtensions.x-jdempotentrequestpayload}}@JdempotentRequestPayload {{/vendorExtensions.x-jdempotentrequestpayload}}@PathVariable("{{baseName}}"){{>dateTimeParam}}{{#isDeprecated}} @Deprecated{{/isDeprecated}} {{>optionalDataType}} {{paramName}}{{/isPathParam}}